#biology_html{
  display: none;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  width: 90%;
  font-family: 'Raleway', sans-serif;
  color: lightgray;
}

#biology_html p{
  font-size: 16px;
  margin-left: 5%;
}

#tech_html{
  display: none;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
  width: 90%;
  font-family: 'Raleway', sans-serif;
  color: lightgrey;
}
