#profile_pic{
  border-radius: 150px;
  margin-top: 10%;
  margin-left: 40%;
}

.welcome{
  margin-top: 2%;
  margin-left: 43%;
  letter-spacing: 4px;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}

