#resume{
  display: none;
  margin:3% 2% 6% 2%;
  width: 90%;
  font-family: 'Raleway', sans-serif;
  color: lightgray;
}

.resume_list{
  font-size: 16px;
}

.prowork{
  color: lightblue;
}

.welcome{
  color: lightblue;
}

.navbar-nav>li>a:hover{
  color: lightblue;
}
