<div id="resume">

  <h2>Ajilon, San Francisco, CA</h2>
  <h3>Professional Staff</h3>
  <ul class="resume_list">
    <li>Worked on call for many companies, managing various roles, and dealing with any fires I was thrown into.</li>
    <li>Perfected time management, by working 40 hours a week, while completing phase 0 of DBC.</li>
    <li>Companies I worked for include; RPX, Zoosk, Splunk, and Rodan and Fields.</li>
  </ul>


  <h2>Apportable, San Francisco, CA</h2>
  <h3>Lead Quality Assurance and Customer Service</h3>
  <ul class="resume_list">
    <li>Championed quality assurance and customer support.</li>
    <li>Managed and coordinated offshore game testers with a small in house QA team. Found and reproduced meticulous bugs before products were released.</li>
    <li>Assured return customers by personally contacting the users with issues, utilized limited information to analyze their issues, scrupulously reproduce the bugs, finally ending with getting them all fixed for their device.</li>
  </ul>

  <h2>Recreational Sports Facility, UC Berkeley, CA</h2>
  <h3>Cashier/Front Desk</h3>
  <ul class="resume_list">
    <li>Managed a hectic gymnasium, maintained strict scheduling and facilitated a constant flow of people using the facilities.</li>
    <li>Cooperated with parents and gymnastic coaches to ensure correct placement of students.</li>
    <li>Thrived under high pressure situations, that arose while various people of different ages and urgencies were attempting to use the facilities.</li>
  </ul>


  <h2>Caldwell Laboratory, UC Berkeley, CA</h2>
  <h3>Marine Laboratory Technician</h3>
  <ul class="resume_list">
    <li>Mastered precision, detection, and effective problem solving, while performing various tasks of husbandry for mantis shrimp and blue ring octopuses. Caught a potential mass extinction due to a faulty salt refractometer.</li>
    <li>Utilized my knowledge of water pumps learnt from Leslie's, I became one of two tank specialist, focused on new tank production and pump maintenance.</li>
  </ul>

  <h2>Leslie's Pool Supplies, Granada Hills, CA</h2>
  <h3>Lead Sales Associate</h3>
  <ul class="resume_list">
    <li>Became an active listener to devise individuals' pool problems in order prescribe a precise solution.</li>
    <li>Worked all aspects of the job including inventory, unloading truck, and stocking shelves.</li>
  </ul>

  <h2>Theta Chi, Mu Chapter, Berkeley, CA</h2>
  <h3>Public Relations Chair</h3>
  <ul class="resume_list">
    <li>Coordinated brother attendance for various Greek activities.</li>
    <li>Revitalized philanthropy awareness and brother presence at events.</li>
    <li>Choreographed a dance performance every year to compete in a philanthropic dance competition.</li>
  </ul>
  <h3>Social Chair</h3>
  <ul class="resume_list">
    <li>Integral member in saving the Berkeley Theta Chi fraternity house.</li>
    <li>Increased attendance to all events by promoting low cost, personalized, decorations, my favorite being a fluorescent waterfall.</li>
    <li>The only social chair during my four years never to receive a police complaint, by instilling a brother wide sound monitoring system.</li>
  </ul>

  <h2>Resident Halls UC Berkeley, Berkeley, CA</h2>
  <h3>Resident Assitant</h3>
  <ul class="resume_list">
    <li>Cooperated with other assistants, large corporations, and local businesses to plan price effective, educational events.</li>
    <li>Handled the various situations that arose between 60 hormonal students living on my two floors.</li>
  </ul>
</div>
